/* Define the global styles for the entire page */

/* Set the font family for the entire page and reset margin and padding */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Create a container to center content on the page */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Style for heading level 2 (h2) elements */
h2 {
    text-align: center;
}

/* Styles for elements with class "add_user", "add_staff", "add_admin", "remove_staff", "remove_user", "user_table" */
.add_user,
.add_staff,
.add_admin,
.remove_staff,
.remove_user,
.remove_admin,
.user_table {
    margin-bottom: 20px;
}

/* Style for form elements */
form {
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 5px;
}

/* Style for text input, password input, and select elements within a form */
form input[type="text"],
form input[type="password"],
form select {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

/* Style for buttons within a form */
form button {
    background-color: #1a410e;
    color: #fff;
    font-weight: 700;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

/* Add space between User Table and elements above */
.user_table h3 {
    margin-top: 30px;
}

/* Center the "Load Users" button */
.user_table button {
    display: block;
    margin: 0 auto;
}

/* Style for tables */
table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
}

/* Style for table headers and table data cells */
table, th, td {
    border: 1px solid #ccc;
}

/* Style for table header cells */
th, td {
    padding: 10px;
    text-align: center;
}

/* Style for table header cells with a background color */
th {
    background-color: #14611f;
    color: #fff;
}